includes:
    - phpstan-baseline.neon
parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - src
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    #checkUninitializedProperties: true
    checkGenericClassInNonGenericObjectType: false