<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
	colors="true"
	stopOnFailure="false">
    <testsuites>
        <testsuite name="MarketBot Test">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="E_ALL" />
    </php>
</phpunit>